/* deafault properties */

@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
body {
  font-family: "Belgrano", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 37px;
  background: #d4e1f1;
}

.navigation_list {
  display: flex;
}

.navigation_item a {
  color: #070d59;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}
.navigation_item:hover a {
  color: #333ba8;
}
.button {
  padding: 19px 48px;
  background: #070d59;
  text-transform: uppercase;
  font-size: 22px;
  border-radius: 19px;
}

a .button {
  color: #fff;
  cursor: pointer;
}
a:hover .button {
  background: #333ba8;
}

.navigation_item {
  margin-inline: 90px;
}
/* head text */
.head_text {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 70px;
  font-family: Sedan SC;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: 0.095em;
  color: #070d59;
}

@media screen and (max-width: 1200px) {
  .header_navigation {
    display: none;
  }
}

/* main section */

.main_header {
  font-size: 60px;
  text-align: center;
  color: #070d59;
  margin-top: 146px;
  font-weight: 500;
  letter-spacing: 4px;
}

/* footer */
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #d4e1f1;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #070d59;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #070d59;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #070d59;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #070d59;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #070d59;
  background-color: #070d59;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
