.main-container {
   display: flex;
   flex-wrap: wrap;
  /* justify-content: space-between; */
}
/* CARDS*/
.cards-container{
  width:100%;
  max-width: 1000px;
  margin: 10px;
  background-color: #fff347;
  overflow-y: visible;
}

.card{
  border: 2px solid black;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 300px;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card img{
  max-width: 250px;
  max-height: 150px;
  margin: 20px
}

.card button{
  padding: 9px 18px;
  font-size: 100%;
  border-radius: 19px;

  background: #070d59;
  color:#fff;
  text-transform: uppercase;
}

.card button:hover {
  background: #333ba8;
  cursor: pointer;
}


/* //// CARDS */
/* filter main */

.filter-container {
  background-color: rgb(22, 162, 255);
  padding: 5px;
  margin: 10px;
  max-width: 300px;
  color: #070d59;
}

.filter-header {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid black;
}

.header-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.top-categories-header {
  margin: 15px 10px 10px 10px;
}
/* ////filter main */


/* top filters */

.top-filters-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.top-filters-list li {
  margin: 10px;
  padding: 5px 7px;
  min-width: 44px;
  width: fit-content;

  background-color: #d4e1f1;
  color: #070d59;
  border-radius: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  cursor: pointer;
}

.top-filters-list li:hover {
  color: #fff;
  background-color: #070d59;
}

/* ////top filters */


/* custom filters */

.custom-filter-header {
  margin: 10px;
  text-align: left;
}

.annuel-fee,
.credit-score,
.apr,
.cashback,
.banks-filter-h {
  margin: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/* amazon test input*/
.am-input-container {
  margin: 10px;
  margin-top: 0px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #070d59;
  box-sizing: border-box;
}
.dollar-input-field {
  padding-left: 9px;
  position: absolute;
  margin-top: 5px;
  line-height: 30px;
  font-size: 100%;
}
.input-text {
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #070d59;;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  outline: 0;
  margin-top: 4px;
  margin-right: 2px;
  width: 78px;
  padding-left: 23px;
}
.input-button:not(.a-button-toggle) {
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.input-button {
  background: #d4e1f1;
  color: #070d59;
  border-radius: 3px;
  border-color: #070d59;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  margin-top: 4px !important;
  margin-bottom: 7px;
}

.input-button:hover{
  background-color: #070d59;
  color: #fff;
}
.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  height: 29px;
  border-radius: 2px;
}
.a-button-input {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.01;
  outline: 0;
  overflow: visible;
  z-index: 20;
}
.a-button-text {
  background-color: transparent;
  border: 0;
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
}
.a-button-text:hover {
  color: #d4e1f1;
  background-color: #070d59;
}
/* ////amazon test input*/


/* banks list */
.banks-filter-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.banks-filter-list li {
  margin: 9px;
  padding: 5px 7px;
  min-width: 44px;
  width: fit-content;

  background-color: #d4e1f1;
  color: #070d59;
  border-radius: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;

  cursor: pointer;
}

.banks-filter-list li:hover {
  color: #fff;
  background-color: #070d59;
}
/* ////banks list */


/* ////custom filters */
/* .bg {
  background-color: white !important;
} */




/* DONT COPY!!! */
/* header footer */
/* deafault properties */

@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

body {
  font-family: "Belgrano", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 37px;
  background: #d4e1f1;
}

.navigation_list {
  display: flex;
}

.navigation_item a {
  color: #070d59;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}

.navigation_item:hover a {
  color: #333ba8;
}

.button {
  padding: 19px 48px;
  font-size: 100%;
  background: #070d59;
  text-transform: uppercase;
  border-radius: 19px;
}

a .button {
  color: #fff;
  cursor: pointer;
}

a:hover .button {
  background: #333ba8;
}

.navigation_item {
  margin-inline: 90px;
}
@media screen and (max-width: 1200px) {
  .header_navigation {
    display: none;
  }
  .logo img {
    max-width: 133px;
  }
  .login-button {
    padding: 12px 18px !important;
    font-size: 80%;
    background: #070d59;
    text-transform: uppercase;
    border-radius: 15px;
  }
}

/* footer */

.footer-container {
  max-width: 1170px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #d4e1f1;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #070d59;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #070d59;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #070d59;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #070d59;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #070d59;
  background-color: #070d59;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
