{% extends "main_templates/header_and_footer.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{ url_for('static', filename='styles/cards_style/credit_card_style.css' ) }}>
{% endblock %}

{% block content %}

<section class="main-result-page">
    <form class="main-result-page" name="filter_form">
        <div class="main-container">
            <div class="filter-container bg">
                <div class="main">
                    <div class="filter-header bg">
                        <span class="header-text" style="font-size: 20px;">FILTER</span>
                    </div>

                    <div class="top-categories-header bg">
                        <span class="header-text">Top Categories</span>
                    </div>

                    <div class="top-filters-container bg">
                        <ul class="top-filters-list bg">
                            <a href="/credit-card?filter_type=lowest_fee">
                                <li>Lowest Fee</li>
                            </a>
                            <a href="/credit-card?filter_type=best_cashback">
                                <li>Best Cashback</li>
                            </a>
                            <a href="/credit-card?filter_type=lowest_APR">
                                <li>Lowest APR</li>
                            </a>
                            
                        </ul>
                    </div>
                </div>

                <div class="custom-filter-container">
                    <div class="custom-filter-header bg">
                        <span class="header-text">Custom</span>
                    </div>

                    <div annuel-fee-container>
                        <span class="annuel-fee">Annual fee:</span>

                        <!-- values input  -->
                        <div id="input-fields-amaz-container" aria-disabled="false" class="am-input-container">
                            <div>
                                <span class="dollar-input-field">$</span>
                                <input type="text" maxlength="9" placeholder="Min" name="low_fee"
                                    class="input-text" value="0">

                                <span class="dollar-input-field">$</span>
                                <input type="text" maxlength="9" placeholder="Max" name="high_fee"
                                    class="input-text" value="0">

                            </div>
                        </div>
                    </div>

                    <div credit-score-fee-container>
                        <span class="credit-score">credit-score:</span>

                        <!-- values input  -->
                        <div id="input-fields-amaz-container" aria-disabled="false" class="am-input-container">
                            <div>
                                <input type="text" maxlength="9"placeholder="Min" name="low_credit_score"
                                    class="input-text" value="0">

                                <input type="text" maxlength="9" placeholder="Max" name="high_credit_score"
                                    class="input-text" value="0">

                            </div>
                        </div>
                    </div>

                    <div apr-container>
                        <span class="apr">Regular APR:</span>

                        <!-- values input  -->
                        <div id="input-fields-amaz-container" aria-disabled="false" class="am-input-container">
                            <div>
                                <span class="dollar-input-field">%</span>
                                <input type="text" maxlength="9"placeholder="Min" name="low_apr"
                                    class="input-text" value="0">

                                <span class="dollar-input-field">%</span>
                                <input type="text" maxlength="9" placeholder="Max" name="high_apr"
                                    class="input-text" value="0">

                            </div>
                        </div>
                    </div>

                    <div cashback-container>
                        <span class="cashback">cashback:</span>

                        <!-- values input  -->
                        <div id="input-fields-amaz-container" aria-disabled="false" class="am-input-container">
                            <form method="get" action="/s">
                                <span class="dollar-input-field">%</span>
                                <input type="text" maxlength="9" id="low-price" placeholder="Min" name="low_cashback"
                                    class="input-text" value="0">

                                <span class="dollar-input-field">%</span>
                                <input type="text" maxlength="9" id="high-price" placeholder="Max" name="high_cashback"
                                    class="input-text" value="0">

                            </form>
                        </div>
                    </div>

                    <!-- <div class="banks-filter-container bg">
                        <span class="banks-filter-h">banks:</span>
                        <ul class="banks-filter-list">
                            <li>ally bank</li>
                            <li>Bank of America</li>
                            <li>Bny Mellon </li>
                            <li>capital one 360</li>
                            <li>citibank</li>
                            <li>fifth third bank</li>
                            <li>goldman sachs</li>
                            <li>HSBC</li>
                            <li>JP chase</li>
                            <li>PNC</li>
                            <li>santander</li>
                            <li>silicon valley bank</li>
                            <li>state street corp</li>
                            <li>TD bank</li>
                            <li>truist bank</li>
                            <li>US bank</li>
                            <li>wells fargo</li>
                        </ul>
                    </div> -->

                    <div class="complete-button">
                        <a href="/credit-card?filter_type=full_filter">
                            <button>Find</button>
                        </a>
                    </div>
                </div>
            </div>

            
            <div class="cards-container bg">
                {% for card in render_data %}
                <div class="card">
                    <div class="left_card_container">
                        <img src=static/{{ card["img_path"] }} alt="card image">
                        <a href="#">
                            <button>Apply</button>
                        </a>
                    </div>
                    
                    <div class="right_card_container">
                        <h3>{{ card["card_name"] }}</h3>
                        <div class="description-container">
                            <div class="description-item">
                                <p>Cashback</p>
                                <span>{{ card["cashback"] }} %</span>
                            </div>
                            <div class="description-item">
                                <p>Annual Fee</p>
                                <span>{{ card["annual_fee"] }} $</span>
                            </div>
                            <div class="description-item">
                                <p>Credit Score</p>
                                <span>~{{ card["credit_score"] }}</span>
                            </div>
                            <div class="description-item">
                                <p>Network</p>
                                <span>{{ card["network"] }}</span>
                            </div>
                            <div class="description-item">
                                <p>Regular APR</p>
                                <span>{{ card["regular_apr"] }} %</span>
                            </div>
                            <div class="description-item">
                                <p>Bank</p>
                                <span>{{ card["bank_name"] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </form>
</section>
{% endblock %}

{% block script %}
<script src={{ url_for('static', filename='scripts/credit_filter_form.js' ) }}></script>
{% endblock %}