{% extends "main_templates/header_and_footer.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{ url_for('static', filename='styles/cards_style/credit_card_style.css' ) }}>
{% endblock %}

{% block content %}

<section class="main-result-page">
    <div class="main-container">
        <div class="filter-container bg">

            <div class="filter-header bg">
                <span class="header-text" style="font-size: 20px;">FILTER</span>
            </div>

            <div class="custom-filter-container">
                <div class="custom-filter-header bg">
                    <span class="header-text">Custom</span>
                </div>

                <div class="banks-filter-container bg">
                    <span class="banks-filter-h">banks:</span>
                    <ul class="banks-filter-list">
                        <li>ally bank</li>
                        <li>Bank of America</li>
                        <li>Bny Mellon </li>
                        <li>capital one 360</li>
                        <li>citibank</li>
                        <li>fifth third bank</li>
                        <li>goldman sachs</li>
                        <li>HSBC</li>
                        <li>JP chase</li>
                        <li>PNC</li>
                        <li>santander</li>
                        <li>silicon valley bank</li>
                        <li>state street corp</li>
                        <li>TD bank</li>
                        <li>truist bank</li>
                        <li>US bank</li>
                        <li>wells fargo</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cards-container bg">
            <div class="card">
                <div class="left_card_container">
                    <img src="test.png" alt="tt">
                    <a href="#">
                        <button>Apply</button>
                    </a>
                </div>

                <div class="right_card_container">
                    <h3>Card Name</h3>
                    <div class="description-container">
                        <div class="description-item">
                            <p>Cashback</p>
                            <span>2-5 %</span>
                        </div>
                        <div class="description-item">
                            <p>Annual Fee</p>
                            <span>5 %</span>
                        </div>
                        <div class="description-item">
                            <p>Credit Score</p>
                            <span>690-850</span>
                        </div>
                        <div class="description-item">
                            <p>Network</p>
                            <span>MasterCard</span>
                        </div>
                        <div class="description-item">
                            <p>Regular APR</p>
                            <span>0 %</span>
                        </div>
                        <div class="description-item">
                            <p>Bank</p>
                            <span>Fifth Third Bank</span>
                        </div>
                        <div class="description-item">
                            <p>Annual Fee</p>
                            <span>0 %</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}