<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banks</title>
    <link rel="stylesheet" href="banks_style.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="../main_website/main_page.html">
                <img src="../img/logo.png" alt="img">
            </a>
        </div>
        <nav class="header_navigation">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="#">best offers</a></li>
                <li class="navigation_item"><a href="#">banks</a></li>
                <li class="navigation_item"><a href="../creators_template/creators_page.html">creators</a></li>
            </ul>
        </nav>
        <a href="../auth_template/auth_page.html">
            <button class="navigation_login button">sign in</button>
        </a>
    </header>

    <section class="main container">
        <h1 class="main_header">Represented Banks</h1>
    </section>
    <section class="main-banks-section">
        <div class="cards">
            <div class="card">
                <img src=".\static\img\ally_test.jpg" alt="Ally bank logo">
                <div class="banks-description">
                    <h2>Ally bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>

            </div>
            <div class="card">
                <img src=".\static\img\bank-of-america_test.jpg" alt="Bank of America logo">
                <div class="banks-description">
                    <h2>Bank Of America</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\bny_mellon_test.jpg" alt="BNY MELLON bank logo">
                <div class="banks-description">
                    <h2>BNY MELLON</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\capital-one-360_test.png" alt="Capital One 360 bank logo">
                <div class="banks-description">
                    <h2>Capital One 360</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\citibank_test.jpg" alt="citibank logo">
                <div class="banks-description">
                    <h2>Citibank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\fifth-third-bank_test.jpg" alt="fifth third bank logo">
                <div class="banks-description">
                    <h2>Fifth Third Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\goldman-sachs_test.jpeg" alt="goldman sachs banks logo">
                <div class="banks-description">
                    <h2>Goldman Sachs</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\HSBC_test.png" alt="HSBC logo">
                <div class="banks-description">
                    <h2>HSBC Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\jp-chase_test.jpg" alt="jp chase bank logo">
                <div class="banks-description">
                    <h2>JP Morgan Chase</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\pnc_test.jpg" alt="pnc bank logo">
                <div class="banks-description">
                    <h2>PNC Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\santander_test.jpg" alt="santander bank logo">
                <div class="banks-description">
                    <h2>Santander Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\silicon-valley_test.png" alt="silicon valley bank logo">
                <div class="banks-description">
                    <h2>Silicon Valley Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\state-street-corp_test.png" alt="state street corp bank logo">
                <div class="banks-description">
                    <h2>State Street Corp</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\td-bank_test.png" alt="td bank logo">
                <div class="banks-description">
                    <h2>TD Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\truist_test.png" alt="truist bank logo">
                <div class="banks-description">
                    <h2>Truist Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\us-bank_test.jpg" alt="us bank logo">
                <div class="banks-description">
                    <h2>US Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src=".\static\img\wells-fargo_test.jpg" alt="wells-fargo bank logo">
                <div class="banks-description">
                    <h2>Wells Fargo Bank</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                        luctus
                        mauris
                        elementum
                        interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                        porttitor
                        nec mauris
                        vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                        libero in
                        diam cras
                        sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                        <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                        vitae.
                        Lorem sed morbi sem
                        donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                        praesent.
                        Quisque turpis
                        purus est egestas nunc, facilisi. Ut in.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>