/* deafault properties */

@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
body {
  font-family: "Belgrano", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 37px;
  background: #d4e1f1;
}

.navigation_list {
  display: flex;
}

.navigation_item a {
  color: #070d59;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}
.navigation_item:hover a {
  color: #333ba8;
}
.button {
  padding: 19px 48px;
  background: #070d59;
  text-transform: uppercase;
  border-radius: 19px;
}

a .button {
  color: #fff;
}
a:hover .button {
  background: #333ba8;
}

.navigation_item {
  margin-inline: 90px;
}
/* head text */
.head_text {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 70px;
  font-family: Sedan SC;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: 0.095em;
  color: #070d59;
}

@media screen and (max-width: 1200px) {
  .header_navigation {
    display: none;
  }
}

/* main section */

.main_header {
  font-size: 60px;
  text-align: center;
  color: #070d59;
  margin-top: 146px;
  font-weight: 500;
  letter-spacing: 4px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 165px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 296px;
  width: 470px;
}

.face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #070d59;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 1s;
}

.face .face_name {
  color: #fff;
  font-size: 48px;
}

.face > * {
  opacity: 0.6;
}

.face > * {
  opacity: 0.2;
  transition: 1s;
}

.card:hover .face > * {
  opacity: 1;
  transition: 1s;
}

.face img {
  height: 220px;
  width: 283px;
}

.card:hover .face {
  transform: translateY(-98px);
  transition: 1s;
}

.card:hover .content {
  transform: translateY(187px);
}

.cards .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: 100%;
  transition: 1s;
  transform: translateY(0px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.cards .description {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  margin: 20px;
}

.cards .button {
  color: #fff;
}

/* Banks map and description */
.second-container {
  margin: 0px auto;
  max-width: 1200px;
  margin-bottom: 210px;
}

.banks-map {
  display: flex;
  justify-content: space-between;
  margin-top: 210px;
  max-height: 500px;
}
.banks-map img {
  width: 623px;
  height: 441px;
  left: 351px;
  top: 1010px;
}
.text_bank_map {
  width: 526px;
  height: 348px;
  left: 1072px;
  top: 1010px;
}
.text_bank_map h2 {
  color: #070d59;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}

/* footer */
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #d4e1f1;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #070d59;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #070d59;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #070d59;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #070d59;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #070d59;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
