<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='styles/main_styles/header_footer_style.css' ) }}>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/">
                <img src={{ url_for('static', filename='images/main_images/logo.png' ) }} alt="img">
            </a>
        </div>
        <nav class="header_navigation">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="/credit-card">credit cards</a></li>
                <li class="navigation_item"><a href="/banks">banks</a></li>
                <li class="navigation_item"><a href="/creators">creators</a></li>
            </ul>
        </nav>
        {% if current_user.is_authenticated %}
            <a class="navigation_item" href="/logout">Log Out</a>
        {% else %}
        <a href="/auth">
            <button class="login-button button">sign in</button>
        </a>
        {% endif %}
    </header>

    </section>
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% block script %}
{% endblock %}
</body>

</html>