{% extends "main_templates/header_and_footer.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{ url_for('static', filename='main_styles/main_style.css' ) }}>
{% endblock %}

{% block content %}
    <section class="main container">
        <h1 class="main_header">Compare and find your ideal card</h1>
    
        <div class="cards">
            <div class="card">
                <div class="card_face face">
                    <img src={{ url_for('static', filename='images/main_images/credit_card.png' ) }} alt="credit_card">
                    <span class="face_name">Credit</span>
                </div>
    
                <div class="content">
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, modi!</p>
                    <a href="#">
                        <button class="button">Find Cards</button>
                    </a>
                </div>
            </div>
    
            <div class="card">
                <div class="card_face face">
                    <img src={{ url_for('static', filename='images/main_images/debit_card.png' ) }} alt="">
                    <span class="face_name">Debit</span>
                </div>
    
                <div class="content">
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, modi!</p>
                    <a href="#">
                        <button class="button">Find Cards</button>
                    </a>
                    <!-- <a href="#" class="button">Read more</a> -->
                </div>
            </div>
    
        </div>
    </section>
    
    <!-- custom cards -->
    <section class="second-container">
        <div class="banks-map">
            <img src={{ url_for('static', filename='images/main_images/banks_country.png' ) }} alt="banks_map">
            <div class="text_bank_map">
                <h2>Top Banks</h2>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices dictum et aliquet sit
                    luctus
                    mauris
                    elementum
                    interdum. Interdum id in id viverra metus, dignissim arcu nisl porttitor. Non, condimentum morbi
                    porttitor
                    nec mauris
                    vitae consequat mi. Viverra non pellentesque id blandit gravida tristique. Non blandit rhoncus
                    libero in
                    diam cras
                    sapien elementum tristique. At id viverra nullam tincidunt urna dis venenatis.<br>
                    <br>At hendrerit pretium turpis leo sem quam in nibh egestas. Nulla vitae, mollis enim tincidunt
                    vitae.
                    Lorem sed morbi sem
                    donec nulla. Risus nullam lacus, velit, amet volutpat. Blandit at risus proin adipiscing platea
                    praesent.
                    Quisque turpis
                    purus est egestas nunc, facilisi. Ut in.
                </p>
            </div>
        </div>
    </section>

{% endblock %}