<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banks</title>
    <link rel="stylesheet" href="banks_style.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#">
                <img src="../img/logo.png" alt="img">
            </a>
        </div>
        <nav class="header_navigation">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="#">best offers</a></li>
                <li class="navigation_item"><a href="#">banks</a></li>
                <li class="navigation_item"><a href="#">creators</a></li>
            </ul>
        </nav>
        <a href="..\..\auth_templates\index.html">
            <button class="navigation_login button">sign in</button>
        </a>
    </header>

    <section class="main container">
        <h1 class="main_header">Represented Banks</h1>

    <section class="main-section">
        <div class="cards"></div>

    </section>

</body>

</html>